<div style="margin:20px;"><h1>Kezdőfajta választás</h1>
<h3>Ez az oldal azoknak jelenik meg akik már regisztráltak,bejelentkeztek, de még nem választottak kezdőfajtát.</h3>    
<h5>Ide kellenen egy leírás a fajtaválasztásról vásárlásról. 
    Pl.: hogy a képre kattintva megnyílik a vállasztó ablak stb..
    A képeket meg egyforma oldalárnyúra kellene csinálni,
    mert listázáskor nem jól néz ki ha, mindegyik más. Most a script átméretezi egyformára, ezért például a tacskó elég fura...</h5>    
</div>
    <!-- Default bootstrap modal example -->
<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="modaldialog" class="modal-dialog ">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fajta választás</h4>
      </div>
      <div  class="modal-body">
        ...
      </div>
      <div class="modal-footer">  
      
    
      </div>
    </div>
  </div>
</div>